@{
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Styles/MarketStyle.css" />
<h1>Market Place</h1>
<div class="content">
    <div id="slayer">
        <a href="~/Market/Slayer"><img src="~/Images/Slayer_Banner.png"/></a>
        <div id="slayerItems">
            <div class="itemMarket">
                <img src="~/Images/0335.jpg" />
                <img src="~/Images/0336.jpg" />
                <img src="~/Images/0337.jpg" />
                <img src="~/Images/0338.jpg" />

            </div>
        </div>
    </div>
    <div id="vampire">
        <a href="~/Market/Vampire"><img src="~/Images/Vampire_Banner.png" /></a>
        <div id="vampireItems">
            <div class="itemMarket">
                <img src="~/Images/0309.jpg" />
                <img src="~/Images/0310.jpg" />
                <img src="~/Images/0311.jpg" />
                <img src="~/Images/0312.jpg" />

            </div>
        </div>
    </div>
    <div id="ouster">
        <a href="~/Market/Ouster"><img src="~/Images/Ouster_Banner.png" /></a>
        <div id="ousterItems">
            <div class="itemMarket">
                <img src="~/Images/0797.jpg" />
                <img src="~/Images/0798.jpg" />
                <img src="~/Images/0886.jpg" />
                <img src="~/Images/0887.jpg" />

            </div>
        </div>

    </div>
    <div id="common">
        <a href="~/Market/Common"><img src="~/Images/Common_Banner.png" /></a>
        <div id="commonItems">
            <div class="itemMarket">
                <img src="~/Images/1032.jpg" />
                <img src="~/Images/1033.jpg" />
                <img src="~/Images/1034.jpg" />
                <img src="~/Images/1035.jpg" />

            </div>
        </div>
    </div>
</div>

<div class="checkout">

</div>
