@{
    Layout = "~/Views/Shared/_MarketLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Styles/VampireMarketStyle.css" />

<div class="content">
    <img src="~/Images/Vampire_Banner.png" />
    <div id="MarketItems">

    </div>
</div>