<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/LayoutStyle.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<header>
    <a href="~/Home/Index"><img src="~/Images/DarkEdenBanner.png" /></a>
</header>
<nav>
    <a href="~/Home/Index">Home</a> 
    <a href="~/Home/Market">Market</a> 
    <a href="~/Home/NewsEvents">News&Events</a> 
    <a href="~/Home/Info">Info</a> 
    <a href=""id="log">Login</a>
</nav>
<body>
    @RenderBody()
</body>
<footer> &copy; Dark Eden Network 2015</footer>
</html>
