<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/FullMarketStyle.css" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<header>
    <a href="~/Home/Index"><img src="~/Images/DarkEdenBanner.png" /></a>
</header>
<nav>
    <a href="~/Home/Index">Home</a>
    <a href="~/Home/Market">Market</a>
    <a href="~/Home/NewsEvents">News&Events</a>
    <a href="~/Home/Info">Info</a>
    <a href="" id="log">Login</a>
</nav>
<body>
    <div>
    @RenderBody()
    </div>
    <div class="checkout">

    </div>
</body>
<footer> &copy; Dark Eden Network 2015</footer>
</html>
