html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face{
    font-family:Header;
    src:url(../fonts/Metamorphous-Regular.ttf);
}

html{
    background-image:url("../Images/Darkeden-Recovered.png");
    margin: 0 auto !important;
    float: none !important;
    min-width: 1000px;
    background-color: #000;
    background-repeat: no-repeat;
}
header img{
    display:inline-block;
    margin: auto 0px;
    width: 100%;
    position:relative;
    top: 1px;


}

nav{
    position: relative;
    background-color: #000;
    text-align: center;
    height: 80px;
    width:100%;
    bottom: 3px;
}

nav a{
    color: #F4F3F2;
    font-size: 22pt;
    padding-right: 40px;
    position: relative;
    top: 20px;
    min-width: 30%;
    font-family: Header;
    right:30px;
}

nav a:link{
    text-decoration:none;
}

#log{
    position:relative;
    left: 100px;
}

.content img{
    margin-left:400px;
    height: 400px;
    z-index:3;
}

.checkout{
    position:fixed;
    top: 250px;
    left:1600px;
    background-color: #fff;
    width: 200px;
    height: 250px;
    float: right;
}

footer{
    text-align:center;
    color: #F4F3F2;
}

@media screen and (max-width: 1000px) {
 .content img{
     margin: 0 auto !important;
    float: none !important;
 }
}
