@font-face {
    font-family: Header;
    src: url(../fonts/Metamorphous-Regular.ttf);
}

.content {
    background-image: url("../Images/NewsBg.jpg");
    margin: 0 auto !important;
    float: none !important;
    max-width: 1100px;
    min-width: 690px;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    position: page;

    -webkit-columns: 220px 2; /* Chrome, Safari, Opera */
    -moz-columns: 220px 2; /* Firefox */
    columns: 220px 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
    -webkit-column-rule: 1px solid #3F3F3E; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid #3F3F3E; /* Firefox */
    column-rule: 1px solid #3F3F3E;
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}

h1 {
    padding-top: 20px;
    font-size: 50pt;
    float: none !important;
    color: #fff;
    margin-left: 400px;
}

@media screen and (max-width: 1000px) {
    h1 {
        margin: 0 auto !important;
        float: none !important;
    }
}

#News {
    margin: 0 auto;
    padding: 10px;
}

    #News h2 {
        font-family: Metamorphous-Regular;
        font-size: 25pt;
        color: #85100F;
        padding-top: 5px;
    }

    #News h3 {
        font-family: Metamorphous-Regular;
        font-size: 15pt;
        color: #44453F;
    }


#Events {
    margin: 0 auto;
    padding: 10px;
}

    #Events h2 {
        font-family: Metamorphous-Regular;
        font-size: 25pt;
        color: #85100F;
        padding-top: 5px;
    }

    #Events h3 {
        font-family: Metamorphous-Regular;
        font-size: 15pt;
        color: #44453F;
    }


p {
    text-align: left;
    color: black;
    text-wrap:normal;
}
