.content{
    background-image:url("../Images/architecture-22130_640_brick2.jpg");
    margin: 0 auto !important;
    float: none !important;
    max-width: 1100px;
    min-width: 690px;
    height: 700px;
    background-size:contain;
    background-repeat:no-repeat;
}

h1{
    padding-top: 20px;
    font-size: 50pt;
    float: none !important;
    color:#fff;
    margin-left:400px;
}

@media screen and (max-width: 1000px) {
h1{
    margin: 0 auto !important;
    float: none !important;
}
}